<html>
  <head>
    <title>FortyTwo</title>
    <meta name="robots" content="NOINDEX,NOFOLLOW" />
    <script type="text/javascript" src="/javascripts/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link media="all" type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header_wrap">
          <div class="logo">FortyTwo</div>
          <div class="navigation">
            <ul>
              <li id="start"><a href="/">Start</a></li>
              <li id="timetracking"><a href="/timetracking">TimeTracking</a></li>
              <li id="worklets"><a href="/worklets">Worklets</a></li>
              <li id="roadmap"><a href="/roadmap">Roadmap</a></li>
            </ul>
          </div>
          <div class="session">
            <% if session[:user] %>
              <%= session[:user] %> | <a href="/logout">logout</a>
            <% else %>
              nicht angemeldet
            <% end %>
          </div>
          <div class="ft_cf"></div>
        </div>
      </div>
      <div class="subheader_wrap">
        <ul class="filters">
          <li>Project Filters:</li>
          <li><span class="btn_s_active">all</span></li>
        </ul>
      </div>
      <div class="content_wrap">
        <div class="left">
          <ul class="list">
            <% for user in @users %>
              <li><a href="<%= @current_page %>/<%= user.name.downcase %>"><%= user.name %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="middle">
          <%= yield %>
        </div>
        <div class="right">
          <h3>Comment Stream</h3><span class="btn_s">new</span>
          <ul class="list">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>